name: CI-CD

on:
  push:
    branches: [ main ]

  workflow_dispatch:

jobs:
  CI:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Login to Docker Hub
        uses: docker/login-action@v1.9.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
          
      - name: Build and push Docker images
        uses: docker/build-push-action@v2.7.0
        with:
          context: ./src
          file: ./src/Dockerfile
          push: true
          tags: |
            tmfonseca/rotten-potatoes:latest
            tmfonseca/rotten-potatoes:${{ github.run_number }}

  CD:
      runs-on: ubuntu-latest
      needs: [CI]
      steps:
        - uses: actions/checkout@v2

        - name: Kubernetes set context
          uses: Azure/k8s-set-context@v1
          with:
            method: kubeconfig
            kubeconfig: ${{secrets.K8S_CONFIG}}

        - name: Deploy Aplicação
          uses: Azure/k8s-deploy@v1.3
          with:
            images: tmfonseca/rotten-potatoes:${{github.run_number}}
            manifests: |
              src/deployment.yaml
